<h1>Editar Setor</h1>

<%= render "form", setor: @setor %>

<br>

<div>
  <%= link_to "Visualizar Setor", admin_setor_path(@setor) %> |
  <%= link_to "Voltar para todos os Setores", admin_setors_path %>
</div>
