<h1>Editar Unidade</h1>

<%= render "form", unidade: @unidade %>

<br>

<div>
  <%= link_to "Visualizar Unidade", admin_unidade_path(@unidade) %> |
  <%= link_to "Voltar para todas as Unidades", admin_unidades_path %>
</div>